<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Firebase</title>
</head>

<body>

</body>
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/6.2.2/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/6.2.2/firebase-messaging.js"></script>


<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#config-web-app -->

<script>
    // Your web app's Firebase configuration
    const firebaseConfig = {
        apiKey: "AIzaSyCFy_cJsPKNfQx02aLBRU_DqG0xr4gjgB8",
        authDomain: "quickstart-1557570824261.firebaseapp.com",
        databaseURL: "https://quickstart-1557570824261.firebaseio.com",
        projectId: "quickstart-1557570824261",
        storageBucket: "quickstart-1557570824261.appspot.com",
        messagingSenderId: "889939639834",
        appId: "1:889939639834:web:c98986ae1e7e2e1b"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    const messaging = firebase.messaging()
    messaging.requestPermission().then(() => {
        console.log('Have permission')
        return messaging.getToken()
    })
    .then(token => {
        console.log(token)
        localStorage.setItem('firebase-token', token)
    })
    .catch((err) => {
        console.log('user denied', err)
    })

    messaging.onMessage(payload => {
        console.log("Receive Message", payload)
    })
</script>

</html>